.this {
  border: 1px solid red;
}
:root {
  --main-GreenColor: #2a9134;
  --main-LightGreenColor: #90b44b;
  --main-WhiteColor: #f1fffa;
  --main-LightDarkColor: #242424;
  --main-YellowColor: rgb(249, 228, 148);
  --main-PinkColor: #ef7998;
  --main-BlackColor: #071013;
}
body {
  scroll-behavior: smooth;
}
/* 共同設計 */

.banner-title {
  color: var(--main-PinkColor);
  font-size: 3.5rem;

}
.btn-pink {
  color: var(--main-PinkColor);
  border-color: var(--main-PinkColor);
}
.btn-Black {
  color: var(--main-BlackColor);
  border-color: var(--main-BlackColor);
}
.btn-Black:hover {
  color: var(--main-PinkColor);
  background: var(--main-BlackColor);
}
.btn-pink:hover {
  color: var(--main-BlackColor);
  background: var(--main-PinkColor);
}
.btn-Green {
  color: var(--main-LightGreenColor);
  background: var(--main-GreenColor);
  border: 2px solid var(--main-GreenColor);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}
.btn-Green:hover {
  color: var(--main-GreenColor);
  background: var(--main-WhiteColor);
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}
.text-green {
  color: var(--main-GreenColor);
}

.title-underline {
  width: 20rem;
  height: 0.3rem;
  border-radius: 2rem;
  margin: 0 auto;
  position: relative;
}

.title-underline .title-underline__center {
  position: absolute;
  background: var(--main-GreenColor);
  width: 50%;
  height: 0.6rem;
  border-radius: 1rem;
  /* set_center */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* header toggler */
header {
  height:50px;
}
header .navbar {
  padding: 5px 20px !important;
  z-index: 9999;
  background: var(--main-LightDarkColor);
}
header .navbar .navbar-toggler {
  border: 3px solid var(--main-GreenColor);
  padding: 3px;
}

header .navbar .navbar-toggler div {
  width: 25px;
  height: 3px;
  background: var(--main-GreenColor);
  margin: 5px;
  transition: all 0.5s ease; /*transform*/
}

/* header toggler 動畫 */
header .navbar .navbar-toggler .change.bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
header .navbar .navbar-toggler .change.bar2 {
  opacity: 0;
}
header .navbar .navbar-toggler .change.bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*  */

header .navbar #myNavbar .navbar-nav .nav-item {
  padding: 0px 5px;
}
header .navbar #myNavbar .navbar-nav .nav-item .nav-link {
  color: var(--main-WhiteColor);
  border-radius: 5px;
  padding: 0px;
  font-size: 20px;
}


section#about .about-img_container {
  position: relative;height: 550px; width: 100%;
  cursor: pointer;
  
}

section#about .about-img_container:before {
  content: "";
  position: absolute;
  top: -1.3rem;
  left:-1.3rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--main-YellowColor);
  z-index: -1;
  transition: all 1s linear; /* 做移動動畫 */
}

section#about .about-img_container:hover:before {
  top: 0;
  left: 0;
} 
section#about .about-img_container img{
  z-index: 0;
}

/* 風景特色 */
section#landscape {
  background: #f9f9fb;
  clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 95%);
}
section#landscape .landscape-photos {
  min-height: 50vh;
  position: relative;
}
section#landscape .landscape-photos .landscape-photo {
  width: 50%;
  height: 60%;
  position: absolute;
  transition: all 2s ease-in-out;
}
section#landscape .landscape-photos .landscape-photo:hover {
  transform: scale(1.1);
  z-index: 50;
}
section#landscape .landscape-photos .landscape-photo-1 {
  top: 0;
  left: 10%;
  transform: rotate(-15deg);
  z-index: 20;
}
section#landscape .landscape-photos .landscape-photo-2 {
  top: 0;
  left: 46%;
  transform: rotate(8deg);
  z-index: 30;
}
section#landscape .landscape-photos .landscape-photo-3 {
  top: 40%;
  left: 3%;
  transform: rotate(-5deg);
}
section#landscape .landscape-photos .landscape-photo-4 {
  top: 41%;
  left: 40%;
  transform: rotate(38deg);
}

/* posts card*/

section#posts .card {
  background: transparent;
  /* border: none; */
  position: relative;
  cursor: pointer;
}

section#posts .card .corner-text {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--main-LightGreenColor);
  opacity: 0;
  transition: all 1s ease-in-out;
}
section#posts  .card .card-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section#posts .card:hover .corner-text {
  opacity: 1;
}
section#posts .card .card-img-top {
  height:200px;
  object-fit: cover;
  /* border-radius: 0!important; */
}

section#posts .card .card-footer {
  /* background: transparent; */
}

section#posts .card .card-footer .post-link {
  color: var(--main-GreenColor);
  text-decoration: none;
}

section#posts .card .card-footer .post-link:hover {
  color: #e03d20;
}

/* #partners {
  background: $TransGrey;
  .carousel-control-prev, .carousel-control-next {
      font-size: 2.5rem;
      color: $mainBlack;
      
  }
  .carousel-control-prev{
      transform: translateX(-200%);
  }
  .carousel-control-next{
      transform: translateX(200%);
  }
} */

/* 輪播圖 */
section#partners {
  background: rgba(0, 0, 0, 0.1);
}

section#partners .carousel-control-prev,
.carousel-control-next {
  font-size: 2.5rem;
  color: var(--main-BlackColor);
}

section#partners .carousel-control-prev {
  transform: translateX(-200%);
}

section#partners .carousel-control-next {
  transform: translateX(200%);
}

#footer {
  background: var(--main-BlackColor);
}
